################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Seminar 1/Applicatie/.vs/Applicatie/v16/.suo
/Seminar 1/Applicatie/Applicatie/Controllers/HomeController.cs
/Seminar 1/Applicatie/.vs/Applicatie
/.vs/slnx.sqlite
/Seminar 1/Applicatie/Applicatie/obj
/Seminar 1/Applicatie/Applicatie.DataAccess/obj
/Seminar 1/Applicatie/Applicatie.Models/obj/Debug/netcoreapp3.1
/Seminar 1/Applicatie/Applicatie.Services/obj/Debug/netcoreapp3.1
/Seminar 1/Applicatie/Applicatie.Services/obj/Release/netcoreapp3.1
