################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Seminar 1/Applicatie/.vs/Applicatie/v16/.suo
