################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Seminar 1/Applicatie/.vs/Applicatie/v16/.suo
/Seminar 1/Applicatie/Applicatie/Controllers/HomeController.cs
/Seminar 1/Applicatie/.vs/Applicatie
/.vs/slnx.sqlite
/Seminar 1/Applicatie/Applicatie/obj
/Seminar 1/Applicatie/Applicatie.DataAccess/obj
/Seminar 1/Applicatie/Applicatie.Models/obj/Debug/netcoreapp3.1
/Seminar 1/Applicatie/Applicatie.Services/obj/Debug/netcoreapp3.1
/Seminar 1/Applicatie/Applicatie.Services/obj/Release/netcoreapp3.1
/.vs/MasterAfaceriElectronice/v16
/.vs
/Seminar 1/Applicatie/Applicatie.Models/obj/Release/netcoreapp3.1
/Seminar 2/ProiectMaster/.vs/ProiectMaster
/Seminar 2/ProiectMaster/ProiectMaster.DataAccess/bin/Debug/net5.0
/Seminar 2/ProiectMaster/ProiectMaster.DataAccess/obj
/Seminar 2/ProiectMaster/ProiectMaster.Models/bin/Debug/net5.0
/Seminar 2/ProiectMaster/ProiectMaster.Models/obj
/Seminar 2/ProiectMaster/ProiectMaster.Services/bin/Debug/net5.0
/Seminar 2/ProiectMaster/ProiectMaster.Services/obj
/Seminar 2/ProiectMaster/ProiectMaster.Web/bin/Debug/net5.0
/Seminar 2/ProiectMaster/ProiectMaster.Web/obj/Debug/net5.0/staticwebassets
/Seminar 2/ProiectMaster/ProiectMaster.Web/obj/Debug/net5.0/ref
/Seminar 2/ProiectMaster/ProiectMaster.Web/obj/Release/net5.0
/Seminar 2/ProiectMaster/ProiectMaster.Web/obj/Debug/net5.0/ProiectMaster.Web.Views.pdb
/Seminar 2/ProiectMaster/ProiectMaster.Web/obj/Debug/net5.0/ProiectMaster.Web.Views.dll
/Seminar 2/ProiectMaster/ProiectMaster.Web/obj/Debug/net5.0/ProiectMaster.Web.TagHelpers.output.cache
/Seminar 2/ProiectMaster/ProiectMaster.Web/obj/Debug/net5.0/ProiectMaster.Web.TagHelpers.input.cache
/Seminar 2/ProiectMaster/ProiectMaster.Web/obj/Debug/net5.0/ProiectMaster.Web.RazorTargetAssemblyInfo.cs
/Seminar 2/ProiectMaster/ProiectMaster.Web/obj/Debug/net5.0/ProiectMaster.Web.RazorTargetAssemblyInfo.cache
/Seminar 2/ProiectMaster/ProiectMaster.Web/obj/Debug/net5.0/ProiectMaster.Web.RazorCoreGenerate.cache
/Seminar 2/ProiectMaster/ProiectMaster.Web/obj/Debug/net5.0/ProiectMaster.Web.RazorAssemblyInfo.cs
/Seminar 2/ProiectMaster/ProiectMaster.Web/obj/Debug/net5.0/ProiectMaster.Web.RazorAssemblyInfo.cache
/Seminar 2/ProiectMaster/ProiectMaster.Web/obj/Debug/net5.0/ProiectMaster.Web.pdb
/Seminar 2/ProiectMaster/ProiectMaster.Web/obj/Debug/net5.0/ProiectMaster.Web.MvcApplicationPartsAssemblyInfo.cache
/Seminar 2/ProiectMaster/ProiectMaster.Web/obj/Debug/net5.0/ProiectMaster.Web.genruntimeconfig.cache
/Seminar 2/ProiectMaster/ProiectMaster.Web/obj/Debug/net5.0/ProiectMaster.Web.GeneratedMSBuildEditorConfig.editorconfig
/Seminar 2/ProiectMaster/ProiectMaster.Web/obj/Debug/net5.0/ProiectMaster.Web.dll
/Seminar 2/ProiectMaster/ProiectMaster.Web/obj/Debug/net5.0/ProiectMaster.Web.csprojAssemblyReference.cache
/Seminar 2/ProiectMaster/ProiectMaster.Web/obj/Debug/net5.0/ProiectMaster.Web.csproj.FileListAbsolute.txt
/Seminar 2/ProiectMaster/ProiectMaster.Web/obj/Debug/net5.0/ProiectMaster.Web.csproj.CoreCompileInputs.cache
/Seminar 2/ProiectMaster/ProiectMaster.Web/obj/Debug/net5.0/ProiectMaster.Web.csproj.CopyComplete
/Seminar 2/ProiectMaster/ProiectMaster.Web/obj/Debug/net5.0/ProiectMaster.Web.assets.cache
/Seminar 2/ProiectMaster/ProiectMaster.Web/obj/Debug/net5.0/ProiectMaster.Web.AssemblyInfoInputs.cache
/Seminar 2/ProiectMaster/ProiectMaster.Web/obj/Debug/net5.0/ProiectMaster.Web.AssemblyInfo.cs
/Seminar 2/ProiectMaster/ProiectMaster.Web/obj/Debug/net5.0/apphost.exe
/Seminar 2/ProiectMaster/ProiectMaster.Web/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/Seminar 2/ProiectMaster/ProiectMaster.Web/wwwroot/img
/Seminar 2/ProiectMaster/ProiectMaster.Web/ProiectMaster.Web.csproj.user
